/ApplicationServer.class
/BCrypt.class
/Client.class
/HelloServant.class
/HelloService.class
/NewPassCreator.class
/PassCreateor.class
/RoughWork.class
/package-info.class
/ServiceInterface.class
/ServiceClass.class
